#attask {
  color: #07A873;
  background-color: #ADF0D9;
}

#hashtask {
  color: #702EE6;
  background-color: #DBC7FF;
}

#mailtask {
  color: #F58E0A;
  background-color: #FFE6C7;
}

#linktask {
  color: #5AACFF;
  background-color: #D6EBFF;
  
}

#attask, #hashtask, #mailtask, #linktask {
  padding: 0.1rem 0.4rem;
  border-radius: 99999px;
  cursor: pointer;
}
