[contentEditable=true]:empty::before {
  content: attr(placeholder);
  color: #8A94A6;
}

#atnewtask {
  color: #07A873;
}

#hashnewtask {
  color: #702EE6;
}

#mailnewtask {
  color: #F58E0A;
}

#linknewtask {
  color: #5AACFF;
}
